name: jotty
services:
  jotty:
    cpu_shares: 10
    command:
      - yarn
      - start
    deploy:
      resources:
        limits:
          memory: 8052M
    environment:
      - HOSTNAME=0.0.0.0
      - HTTPS=false
      - NEXT_TELEMETRY_DISABLED=1
      - NODE_ENV=production
      - NODE_VERSION=20.19.5
      - OPENAI_API_KEY=sk-xxxxxx
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      - PORT=3000
      - SERVE_PUBLIC_FILES=yes
      - SERVE_PUBLIC_IMAGES=yes
      - YARN_VERSION=1.22.22
    image: ghcr.io/fccview/jotty:latest
    labels:
      icon: https://github.com/fccview/jotty/blob/main/public/app-icons/android-chrome-192x192.png?raw=true
    ports:
      - target: "3000"
        published: "1122"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/app/cache:/app/cache
      - ${APP_DATA_DIR}/app/data:/app/data
      - ${APP_DATA_DIR}/app/config:/app/config
